<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
</head>
<body>
    <h1>CAR RESALE VALUE PREDICTION</h1>
    <h2> Using Random Forest</h2>
    <h3>M</h3>
    <form method="POST" action="/predict" >
        <p>abtest</p>
        <input name="A"required>
        <p>vechicleType</p>
        <input name="B"required>
        <p>yearOfRegistration</p>
        <input name="C"required>
        <p>gearbox</p>
        <input name="D"required>
        <p>powerPS</p>
        <input name="E"required>
        <p>model</p>
        <input name="F"required>
        <p>kilometer</p>
        <input name="G"required>
        <p>monthOfRegistration</p>
        <input name="H"required>
        <p>fuelType</p>
        <input name="I"required>
        <p>brand</p>
        <input name="J"required>
        <p>notRepairedDamage</p>
        <input name="K"required>
        <p>postalcode</p>
        <input name="L"required>
        <br>
        <br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>